/* Footer */
footer {
    padding: 6rem 0;
    color: #fff;
    text-align: center;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
}

footer a.btn-outline-light {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 36px;
    padding: 6px;
    margin: 0 5px;
    border-width: 2px;
    /*
    display: inline-flex;
    justify-content: center;
    align-items: center;
    */
}

footer i {
    width: 25px;
    height: 20px;
    /* L'élément sera pivoté en 0.5s */
    transition: 0.5s;
}

footer a:hover i {
    transform: rotate(360deg);
}

.bg-copyright {
    background-color: #141719;
    color: #fff;


.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    margin: 10px;
    background-color: blueviolet;
    width: auto;
    justify-content: center;
}


.text{
    width: 40%;
    height: auto;
    padding: 25px;
    color: pink;
}

.mac{
    width: 40%;
    height: auto;
}

.pareil{
    font-weight: bold;
    color: coral;
}

h1{
    color: chartreuse;

.navbar-brand{
    font-size: 1.75em;
    font-weight:700;
}
#navbarNav .nav-link{
    color:#fff;
    padding-left: 20px;
    padding-right: 20px;

}
#navbarNav .nav-link:hover{
    color:rgb(99, 207, 193);
}
.navbar{
    font-weight:700;

}